
<p-sidebar [(visible)]="display"
[showCloseIcon]="false"
[transitionOptions]="'1ms'"
>
    <ng-template pTemplate="header">Header Content</ng-template>
    <p-panelMenu [model]="sidebarItems"></p-panelMenu>
    <ng-template pTemplate="footer">Footer Content</ng-template>
</p-sidebar>
<div class="layout" [ngClass]="{active : !display}">
    <header>
      <nav class="flex justify-content-between align-items-center pr-3 pl-3">
        <div class="icon-menu">
          <button pButton  (click)="toggleSideBar()"  type="button" icon="pi pi-align-left" class="p-button-rounded p-button-text"></button>
        </div>
        <div class="flex">
          <button pButton type="button" class="p-button-rounded  p-button-warning p-button-text"  icon="pi pi-bell"></button>
          <p-avatar image="../../../../../assets/imgs/hady.jpg" shape="circle" size="large"></p-avatar>
        </div>
      </nav>
    </header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>
