<p-table
[value]="products" [lazy]="true"
dataKey="id"[paginator]="true"
[rows]="10" [totalRecords]="totalRecords"
[loading]="loading"
(onLazyLoad)="loadBlogs($event)"
>
    <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let key of keys"> {{key}}</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products>
      <tr>
        <td>{{products.ID}}</td>
        <td>{{products.Name | slice:0:25}}</td>
        <td>{{products.Details | slice:0:25}}</td>
        <td>{{products.Type}}</td>
        <td>{{products.Price}}</td>
        <td>{{products.Views}}</td>
        <td>{{products.Created_By }}</td>
        <td>{{products.Created_Date | date }}</td>
        <td>{{products.Updated_Date | date }}</td>
      </tr>
  </ng-template>
</p-table>

