/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeflex/primeflex.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --bodyColor : rgb(249, 249, 249);
  --content   : hsl(210 , 62% , 95% , 1);
  --black     : hsl(226, 34%, 20%);
  --white     : hsl(3, 100%, 100%);
  --text      : #6b6b6b;
}

.layout{
  width: calc(100% - 15rem);
  margin-inline-start: auto;
  transition: width 0.5s;
  &.active{
    width : 100%;
  }
}
.container{
  width: min(100% , calc(1420px - 10rem));
  margin-inline: auto;
}
* , *::after , *::before{
  box-sizing: border-box;
}
p{
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--bodyColor);
  font-family: 'Roboto Condensed', sans-serif;
}
.p-panelmenu{
  .p-panelmenu-header{
    & > a{
      background-color: transparent;
      border: none;
      font-weight: 400;
      padding: 1rem;
      color: var(--white);
    }
  }
}
.p-sidebar{
  background-color: var(--black);
  .p-sidebar-content{
    padding: 0;
  }
}

header{
  nav{
    background-color: var(--white);
    box-shadow: 0 10px 30px 0 rgba(47, 60, 74, 0.08);
    min-height: 70px;
  }
}
a{
  text-decoration: none;
  color: var(--text);
}
.text-color{
  color: var(--text);
}
